.fc {

	.scheduled-election {
		background: green;
		border-color: green;
	}

	.requested-election {
		background: $blue;
		border-color: $blue;
	}

	.selected-election {
		background: yellow;
		border-color: yellow;
	}
}

.fc {
	margin-bottom: 2em;

	table {
		margin-bottom: 0;
	}

	.fc-today {
		background-color: rgba(white, 0.3);
	}
}

.fc-event {
	text-decoration: none;
}
