body {

	&:before,
	&:after {
		display: none !important;
	}
}

.page-template-fullwidth {

	.content-area {
		float: left;
		margin-right: -100%;
		width: 100%;
	}

	.entry-content,
	.entry-header {
		margin: 0;
	}
}

.site {
	margin: 0;
}

.site-content {
	flex: 1;
	width: 90%;
	max-width: 1320px;
	margin: 3em auto;
	background: white;
	display: flex;
	align-items: center;

	@include bp(phone) {
		width: 100%;
		padding: 0 1em;
	}
}

.site-inner {
	display: flex;
	min-height: 100vh;
	flex-flow: column;
	max-width: 100%;
}

.single-election-nav {
	list-style: none;
	display: flex;
	width: 100%;
	margin: 0 0 2em;

	li {
		padding: 10px;

		&:first-of-type {
			padding-left: 0;
		}

		a {

			&:hover {
				color: $red !important;
			}

			&:after {
				display: none !important;
			}
		}
	}
}

th[role=columnheader]:not(.no-sort) {
	cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
	content: '';
	float: right;
	margin-top: 7px;
	border-width: 0 4px 4px;
	border-style: solid;
	border-color: #404040 transparent;
	visibility: hidden;
	opacity: 0;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
	border-bottom: none;
	border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
	visibility: visible;
	opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
	visibility: visible;
	opacity: 1;
}

button {

	&.active {
		background-color: #cf253d;
	}
}
