.page-template-fullwidth {

	.content-area {
		float: left;
		margin-right: -100%;
		width: 100%;
	}

	.entry-content,
	.entry-header {
		margin: 0 7.6923%;
	}
}

.fc {

	table {
		margin-bottom: 0;
	}

	.fc-today {
		background-color: rgba(white, 0.3);
	}
}

.fc-event {
	text-decoration: none;
}
