.site-header {
	background: $red;
	padding-top: 0;
	padding-bottom: 0;

	.main-navigation {

		li:hover,
		li.focus {

			> a {
				color: rgba(#fff, 1);
			}
		}

		a {
			color: rgba(#fff, 0.7);

			&:hover {
				color: rgba(#fff, 1);
			}
		}

		ul ul li {
			background: $red;
		}

		ul ul:after {
			border-top-color: $red;
			border-bottom-color: $red;
		}
	}

	.site-title a {
		color: white !important;
	}

	.menu-toggle {
		color: white;
		border: 1px solid $red-dk;

		&:focus {
			color: white;
			border: 1px solid $red-dk;
		}

		&.toggled-on {
			background-color: $red-dk;
		}
	}

	.dropdown-toggle {
		color: white;

		&:focus {
			color: white;
		}
	}
}
