.site-header {
	background: $red;
	padding-top: 0;
	padding-bottom: 0;

	.main-navigation {

		> li:hover {

			> a {
				color: rgba(#fff, 1);
			}
		}

		a {
			color: rgba(#fff, 0.7);

			&:hover {
				color: rgba(#fff, 1);
			}
		}
	}

	.site-title a {
		color: white !important;
	}
}
