@import "variables";
@import "mixins";
@import "typography";

body {
	background: $red;
	font-family: $sans;
	color: white;
}

.login {

	#nav,
	#backtoblog {

		a {
			color: white !important;
		}
	}

	h1 a {
		text-indent: 0;
		background: none;
		width: auto;
		font-weight: inherit;
		font-size: 30px;
		height: auto;
	}
}

.wp-core-ui {

	.button-primary {
		background: $blue;
		border-color: $blue;
		transition: 0.3s;
	}
}
